.introParent{
    width:96vw;
    margin: auto;
    min-height: 100px;
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;
}
.introHeading{
    font-family: 'Quintessential', cursive;
    text-align: center;
}
#introbackid{
    width:900px;
    height: 500px;
    border: 0.5px solid black;
    border-radius: 20px;
}
Link{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:940px) {
    #introbackid{
        width:700px;
        height: 400px;
    }
}
@media screen and (max-width:720px) {
    #introbackid{
        width:350px;
        height: 220px;
    }
}